{% extends 'dive_in/rp_base.html' %}

{% block body_block %}

<body>
<div class="container">
<div class="jumbotron">
<h2>Please, login:</h2>

{% if form.errors %}
<p>Your username and password didn't match! Try again.</p>
{% endif %}

    <form action="{% url 'dive_in:user_login' %}" method="POST">
        {% csrf_token %}
         {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="login">
        <input type="hidden" name="next" value="{{next}}">
        <a class="btn btn-primary" href="{% url 'dive_in:registration' %}">register</a>

    </form>


</div>
</div>

</body>

{% endblock %}
