{% extends 'dive_in/rp_base.html' %}

{% block body_block %}
    <div class="container">
    {% if user.is_authenticated %}
    <h1>Hello, Gunslinger!</h1>
    <h3><a href="{% url 'dive_in:initiative' %}">Initiative calculator</a></h3>
    {% if characters %}
        <h3>Play with one of your characters:</h3>
    {% for char in characters %}
    <h3><a href="play/{{char.id}}">{{char.character_name}}</a>
        <a href="character/{{char.id}}" class="btn btn-primary">Edit</a>
        </h3>
    {% endfor %}
        <h2>Or create a new one:</h2>
    {% endif %}
        <h3><a href="{% url 'dive_in:character' %}">Add new character</a></h3>
        {% else %}
        <h1>Please, log in.</h1>
    {% endif %}
    </div>
<style>
    .btn{
        font-size: 12px;
        padding: 4px;
    }
</style>

{% endblock %}